.main {
  margin: 3em;
  display: flex;
  flex-direction: column;
  column-gap: 3px;
  align-items: center;
}

.main__button {
  width: 5em;
}

.main__button:hover {
  cursor: pointer;
}

.main__button:disabled {
  cursor: not-allowed;
}

#textarea {
  resize: none;
  margin-bottom: 1em;
}